#header {
  width: 100%;
  height:1028px;
  position: relative;
  top:0;
	background-color: #e9e9e9;

		.bg {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			border-top: 1028px solid #82f4d3;
	    border-left: 341px solid transparent;
	    height: 0;
	    width: 588px;
		}

		.banner {
			display: block;
			position: absolute;
			top: 212px;
    	right: 371px;
			width: 759px;
			height: 768px;
			background-image: url(../images/img-banner-shoe-1.png);
			background-repeat: no-repeat;
		}

	.logo {
		display: inline-block;
		overflow: hidden;
		position: relative;
		z-index: 10;
		width: 176px;
		height: 36px;
		margin: 65px 0 0 213px;
		background-image: url(../images/bg-logo.png);
		background-repeat: no-repeat;

		a {
			display: block;
			overflow: visible;
			width: 100%;
			height: 100%;
			text-indent: -9999px;
		}
	}

  .menu {
    	display: inline-block;
			position: relative;
			overflow: visible;
			float: right;
			height: 55px;
			width: 55px;
			border-radius: 50%;
			background-color: #000;
			margin: 62px 214px 0 0;
			cursor: pointer;

			.line {
				display: block;
				position: relative;
				width: 17px;
				height: 2px;
				background-color: #fff;
				margin: 0 auto;
			}

			.top {
				margin: 21px auto 4px auto;
			}

			.bottom {
				margin: 4px auto 0px auto;
			}

			&::before {
				content: "";
				display: block;
				position: absolute;
				width: 10px;
				height: 10px;
				top: 22px;
		    right: 75px;
		    border: 2px solid #000;
				border-radius: 50%;
				cursor: auto;
			}

			&::after {
				content: "";
				display: block;
				position: absolute;
				width: 10px;
				height: 10px;
				top: 22px;
    		right: 106px;
				border: 2px solid #000;
				border-radius: 50%;
				cursor: auto;
			}
  }

  .shop-by {
    display: block;
    position: absolute;
    width: 364px;
    height: 213px;
    top: 212px;
    left: 216px;
    background-image: url(../images/bg-header-nike.png);
    background-position: top left;
    background-repeat: no-repeat;

    span {
      display: block;
      position: relative;
      width: 290px;
      height: 58px;
      background-color: #82f4d3;
      float: right;
      margin: 142px 0 0 0;
      z-index: 1;
    }

    .frame {
      display: block;
      position: absolute;
      background-color: #e9e9e9;
      border: 2px solid #82f4d3;
      border-radius: 3px;
      margin: 151px 0 0 61px;
      z-index: 0;
    }
  }

	.description {
		display: block;
		position: absolute;
		width: 335px;
		height: 65px;
    bottom: 25px;
    left: 115px;
		transform: rotate(270deg);
 		transform-origin: left top 0;
	}

  .social {
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    width: 54px;
    height: 301px;
    margin: 560px 0 0 1505px;

    li {
      display: block;
      overflow: hidden;
      width: 54px;
      height: 54px;
      border-radius: 50%;
      background-color: #151515;
      cursor: pointer;

      &:first-child {
        background-color: #fff;
      }

      span {
        display: block;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
      }

      .tw {
        background-image: url(../images/ico-tw.png);
      }

      .fb {
        background-image: url(../images/ico-fb.png);
      }

      .gg {
        background-image: url(../images/ico-gg.png);
      }

      .pi {
        background-image: url(../images/ico-pi.png);
      }
    }
  }
}
